.ticket {
  padding: 5% 15% 5%;
}
.slidingStatue {
  position: absolute;
  top: 57%;
  right: 43.4%;
}
.sliderss {
  display: none;
}
button.invs {
  background: transparent;
  border: none !important;
  outline: none;
  /* cursor: pointer; */
  z-index: 99;
}
#form_div {
  position: absolute;
  top: 80%;
  right: 45%;
  width: 45%;
}
.Correct {
  color: white;
}
.fly {
  position: absolute;
  top: 69%;
  left: 50%;
  width: 50%;
}
